/* Fonts */
@font-face {
    font-family: 'Exo';
    src: url('fonts/Exo-Regular.woff2') format('woff2'),
        url('fonts/Exo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('fonts/SourceSansPro-Regular.woff2') format('woff2'),
        url('fonts/SourceSansPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/* General setup */

* {
    box-sizing: border-box;
    font-size: 10px;
  }
  
  body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
    font-family: Source Sans Pro;
    line-height: 1.5;
    letter-spacing: 1px;
    word-spacing: 1px;
  }
  
  /* Layout */
  
  section {
    float: left;
    width: 50%;
  }
  
  aside {
    float: left;
    width: 30%;
  }
  
  nav {
    float: left;
    width: 20%;
  }
  
  footer {
    clear: both;
  }
  
  header, section, aside, nav, footer {
    padding: 20px;
  }
  /* header and footer */
  
  header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
  }
  
  /* WRITE YOUR CODE BELOW HERE */

  h1, h2 {
    letter-spacing: 1px;
  }

  h1 {
    text-align: center;
    font-size: 30px;
    font-family: Exo;
  }

  h2 {
    font-size: 20px;
    font-family: Source Sans Pro;
  }

  a {
    color: blue;
  }

  a:hover {
    color:lightgreen;
    text-decoration: none;
  }

  a:focus {
    color:yellow;
    text-decoration: none;
    outline: none;
  }
  
  a:visited {
    color:red;
    text-decoration: underline;
  }

  a:active {
    color: green;
    text-decoration: underline dotted;
  }

  p a {
    background: url('./images/external-link-52.png') no-repeat right;
    background-size: 10px 10px;
    padding-right: 12px;
  }

  ul {
    list-style: circle;
  }

  nav ul {
    list-style-type: none;

  }

  li {
    line-height: 1.5;
  }

  nav li {
    text-align: center;
    border: 1px solid #a66;
    padding: 10px;
    margin: 15px;
  }